<% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
        <%= render 'shared/stats' %>
      </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    <% else %>
      <div class="headpicture">
        
         <%= link_to image_tag("travelnotes.png", alt: "travel notes")%><br /><br />
           <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %><br /><br />
           <%= link_to image_tag("1.png",  alt: "1"),recommend_path %>
          <%= link_to image_tag("2.png",  alt: "2"),food_path %><br />
         <%= link_to image_tag("4.png", alt: "4"),scenery_path %>
           <%= link_to image_tag("3.png", alt: "3"),news_path %><br /><br />

      </div>

      <%= link_to image_tag("travelnote.png", alt: "logo")%>
    <% end %>