<h1>Comment</h1>
<div class="comments-index">
	<div class="micropost">
	<%= gravatar_for(@user, size:45) %>
		<%= @user.name %>:<br /><br />
		<%= @micropost.content %><br /><br />
		posted <%= time_ago_in_words(@micropost.created_at) %> ago <br /><br />
	</div>

	<div "comment-form">
		<%= form_for(@comment,url:micropost_comments_path(@micropost)) do |f|%>
			<%= f.text_area :content,class: "commenttext" %>
			<%= f.submit "comment",class: "button" %>
		<% end %>

	

	</div>
	<div class="comments-list">
		<ol>
			<%= render @comments %>
		</ol>

	</div>
</div>